:root {
    --left-margin: 1.25in;
    --main-width: 6.5in;
}

body {
    width: 8.5in;
    margin: auto;
    overflow-x: hidden;
    font-size: 11pt;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    width: var(--main-width);
    margin-left: var(--left-margin);
    margin-right: 0;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    margin-top: 2em;
}

h2 {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

h3 {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
}

li.margin-label {
    display: flex;
    width: 100vw;
    margin-bottom: 0.75em;
}

li.margin-label > * {
    align-self: baseline;
}

li.margin-label > div {
    width: var(--main-width);
    position: relative;
    left: calc(-1 * var(--left-margin) - 0.6em);
}

li.margin-label > label {
    position: relative;
    left: calc(-1 * var(--left-margin) - 0.6em);
    margin: 0 0.6em 0 0;
    width: var(--left-margin);
    text-align: right;
    font-size: small;
}

li.no-margin-label {
    width: var(--main-width);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' -25,
  'opsz' 24
}

.glyph {
    font-size: 1.5em;
    vertical-align: -0.25em;
}

.award {
    color: #cf0000;
    font-style: normal; /* because the unicode icon for special recognitions in reviewing render strangely when italicized */
}

span.word-separator {
    font-size: 1pt;
}

@media print {
    /* Print styles go here */
    a {
        color: black;
        text-decoration: none;
    }

    li.margin-label {
        break-inside: avoid-page;
    }

    li.no-margin-label {
        break-inside: avoid-page;
    }
}
